* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #f0fff4;
    color: #111111;
    height: 100%
}

.container {
    display: grid;
    /*to play with flex for tests...*/

    grid-template-rows: 150px 1fr 50px;
    grid-template-columns: auto;
    justify-items: center;
    min-height: 100vh;
    padding-top: 20px;
    gap: 20px;
    background-color: #f0fff4;
    margin-top: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: x-large;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
select {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #ffffff;
    height: 28px;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-size: x-large;
}

button {
    background-color: rgb(165, 194, 113);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    max-height: 35px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
    cursor: pointer;
}


.carousel {
    position: relative;
    max-width: 600px;
    margin: 15px auto;
    overflow: hidden;
    border-radius: 12px;
    background: rgb(165, 194, 113);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    grid-area: carousel;
}

.carousel-inner {
    display: flex;
    flex-direction: row;
    width: 300%;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    text-align: center;
    padding: 20px;
}

.carousel-item img {
    width: 600px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.carousel-caption {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}


.divtext {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.buttonsDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

.imgAvatar {
    border-radius: 50%;
}

.userInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.descriptImg {
    border-radius: 55px;
    margin: 5px;
}

.itemCatalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.footer,
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: rgb(165, 194, 113);
}

.footer>u:hover,
.sitemap>u:hover {
    cursor: pointer;
}

.sitemap {
    text-align: left;
}

.textFields,
.userReg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsOnRegAndLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.checkers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 5px;
    margin-top: 20px;
}

.checker {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: left;
    gap: 8px;
}

.catalogSearch {
    width: 100%;
    max-width: 600px;
    min-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.catalogSearchItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.catalogSearchItem label {
    min-width: 100px;
    text-align: right;
}

textarea {
    width: 100%;
    max-width: 800px;
    min-height: 120px;
    border-radius: 5px;
    margin: 5px;
    background-color: #ffffff;
    resize: vertical;
    /*for can not be resized by width or smth*/
    box-sizing: border-box;
    color: #333333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea:focus {
    border-color: rgb(165, 194, 113);
    box-shadow: 0 0 5px rgba(165, 194, 113, 0.5);
    outline: none;
}

input:focus {
    border-color: rgb(165, 194, 113);
    box-shadow: 0 0 5px rgba(165, 194, 113, 0.5);
    outline: none;
}

.personalInfo {
    grid-area: pInfo;
    margin: 15px auto;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(165, 194, 113); */
    border: 1px solid rgb(165, 194, 113);
    ;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
}

.textAreaUser {
    grid-area: pUser;
}

.usefulLinks {
    grid-area: pLinks;
    width: 70%;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.pUserText {
    grid-area: pTxt
}


.personalArea {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-template-areas:
        "pInfo pInfo carousel carousel"
        "pLinks pLinks pTxt pTxt"
        ". . pUser pUser"
    ;
}

.itemPageDiv,
.findingsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.findingsPage img,
.oneFinding img {
    border-radius: 55px;
    margin: 5px;
    box-sizing: border-box;
    border: 5px solid #cccccc;
}

/*Admin area*/

.adminPage {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-template-areas:
        "aItem aItem fAccept fAccept "
        "aItem aItem uStat uStat"
        "aItem aItem uStat uStat"
    ;
}

.userStat {
    grid-area: uStat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addItemAdm {
    grid-area: aItem;
}

.findingsToAccept {
    max-height: 500px;
    overflow: scroll;
    overflow-y: visible;
    overflow-x: auto;
    grid-area: fAccept;

}

.oneFinding {
    display: flex;
    /* width: 70%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    background: rgb(227, 255, 174);
    border: 1px solid rgb(39, 201, 33);
    border-radius: 8px;
}

.itemAdd {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    font-family: "Josefin Sans", sans-serif;
    background-color: rgb(227, 255, 174);
    border-radius: 8px;

}

th,
td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}